Ex04.Menus.Events/bin/Debug/Ex04.Menus.Events.dll

# Debug and Release folders
**/bin/Debug/
**/bin/Release/
**/obj/Debug/
**/obj/Release/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/